DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
BOT_OWNER_ID=
PREFIX=!

LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false

GEMINI_API_KEY=
AI_EMBED_COLOR_HEX=#00D2FF
MUSIC_EMBED_COLOR_HEX=#5865F2
